
/*====================================================================
 *  Devtrac Org Styles
 ====================================================================*/

a {
/*  display: inline-block;*/
}

li {
  list-style-position: inside;
}

.glossify-link img {
  display: none;
}

/*====================================================================
 *  Home Page Styles
 ====================================================================*/

.front.page-home section.section-content {
  overflow: hidden;
  background: url(../images/devtracorg-images/home-backround.png) no-repeat;
  background-size: cover;
}

/*====================================================================
 *  Header Styles
 ====================================================================*/

/*------------------------- Branding --------------------------------*/

header .region-branding {
  display: inline-block;
  float: left;
}

header .region-branding .logo-img {
  margin: 0;
}

header .region-branding .logo-img a {
  display: inline-block;
}

header .region-branding .logo-img a img {
  padding: 10px 10px 0px 0px;
}

/*------------------------- Main menu -------------------------------*/

header .region-menu {
  margin-left: 0;
  display: inline-block;
  float: right;
}

header .region-menu .block-title {
  display: none;
}

.region-menu .block-nice-menus .nice-menu {
  margin-top: 20px;
}

li.menu-393.menuparent.menu-path-node-20.odd span.drop-arrow {
  background-image: url(/profiles/devtracdoc/themes/devtrac7_theme/images/icon-collapsible-close-dark.png);
  background-size: 15px auto;
  width: 15px;
  margin-right: 0px;
}


/*====================================================================
 *  Content Styles
 ====================================================================*/

.front.page-home section.section-content .region-inner.region-content-inner {
  width: 90%;
  margin: 0 auto;
  position: relative;
  /*overflow: hidden;*/
 }

.front.page-home section.section-content .block-simple-subscription-subscribe ,
.front.page-home section.section-content .block-pane-front-page-information {
  width: 50%;
  clear: left;
  float: left;
}

.front.page-home section.section-content .block-pane-front-page-information .block-inner {
  padding: 5px 20px 0px 0px;
}

.front.page-home section.section-content .block-pane-front-page-information p ,
.front.page-home section.section-content .block-pane-front-page-information h4 {
  color: #FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.front.page-home section.section-content .block-pane-front-page-information h4 {
  font-size: 2.5em;
  margin-bottom: 0;
  font-weight: normal;
}

.front.page-home section.section-content .block-pane-front-page-information p {
  font-size: 1.8em;
}

.front.page-home section.section-content .block-simple-subscription-subscribe {
  padding-top: 40px;
}

.front.page-home section.section-content .block-simple-subscription-subscribe .block-title {
  display: none;
}

.front.page-home section.section-content .block-simple-subscription-subscribe form .form-item-input ,
.front.page-home section.section-content .block-simple-subscription-subscribe form input[type="submit"] {
  display: inline-block;
}

.front.page-home section.section-content .block-system-main {
  width: 50%;
  /*height: 377px;*/
  overflow: hidden;
  position: absolute;
  right: 0;
}

.front.page-home section.section-content .block-system-main img {
  width: 100%;
  height: auto;
}

#banner-links a {
  display: inline-block;
  padding: 8px 15px;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 1.5em;
}

#banner-links a:hover {
  text-decoration: none;
}

#banner-links .download a {
  background-color: #EA0001;
}

#banner-links .download a:hover {
  background-color: #A30001;
}

#banner-links .quick-tour a {
  background-color: #FF6600;
}

#banner-links .quick-tour a:hover {
  background-color: #DB5800;
}


/*
.region-sidebar-first ul li {
  list-style: none;
  border-bottom: thin solid;
} 

.region-sidebar-first ul ul {
  border-top: thin solid #FFFFFF;
} 

.region-sidebar-first ul ul li {
  border-bottom: thin solid #FFFFFF;
  padding: 0;
  margin-left: 0;
} 

.region-sidebar-first ul ul li.last {
  border-bottom: none;
} 

.region-sidebar-first ul ul li a {

} 

.region-sidebar-first ul li a.active-trail.active ,
.region-sidebar-first ul li a.active ,
.region-sidebar-first ul li a:hover {
  background-color: #111111;
}

.region-sidebar-first ul li a.active-trail.active ,
.region-sidebar-first ul li a.active {
  font-style: italic;
}

.region-sidebar-first .block-book-navigation h2.block-title {
  color: #FFFFFF;
  padding: 5px 5px 5px 20px;
  font-weight: normal;
  background-color: #111111;
  border-top: thin solid #FFFFFF;
  border-bottom: thin solid #FFFFFF;
  margin-top: 5px;
  font-size: 1.1em;
} 

.region-sidebar-first .book-block-menu > ul.menu > li > a {
  padding-left: 20px;
} 

.region-sidebar-first ul a {
  color: #EEEEEE;
  margin: 2px 0;
  padding: 5px 10px 5px 5px;
  display: block;
  font-size: 1.0em;
} 

.region-sidebar-first ul a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.region-sidebar-first ul ul li a {
  padding: 5px 10px 5px 15px;
}
*/



.region-sidebar-first{
  background:#333333;
  color:#FFFFFF;
}

.region-sidebar-first ul.menu {
  padding: 0;
  margin: 0;
  border: none;
}

.region-sidebar-first .content > ul.menu > li a {
  color: inherit;
  display: block;
  padding: 5px;
  margin: 0;
}

.region-sidebar-first .content > ul.menu > li.expanded {
  padding: 0 0 0 10px;
  margin: 0;
  border-bottom: thin solid #FFFFFF;
}

.region-sidebar-first .content > ul.menu > li.expanded > a ,
.region-sidebar-first .content > ul.menu > li.collapsed > a {
  padding: 10px;
}

.region-sidebar-first .content > ul.menu > li.expanded li {
  padding: 0 0 0 20px;
  margin: 0;
  border: none;
}

/*-------------------------- Columns --------------------------------*/

.context-tour .zone-content.container-12 ,
.context-faq-questions-top .zone-content.container-12 {
  margin: 10px auto;
  width: 90%;
}

.block-views {
  width: 25%;
  display: inline-block;
  float: left;
  overflow: hidden;
}

.block-views .block-inner {
  padding: 5px;
}

.block-views .views-row {
  margin-bottom: 10px;
}

.block-views .views-row img {
  width: 100%;
  height: auto;
}

.block-views .views-row .views-field-title {
  background-color: #FDB225;
  margin-bottom: 0px;
}

.block-views .views-row:hover .views-field-title {
  background-color: #FF6600;
}

.block-views .views-row:hover .views-field-title a {
  color: #FFFFFF;
}

.block-views .views-row .views-field-title a {
  padding: 15px 10px;
  color: #333333;
  font-size: 1.5em;
  display: block;
}

.block-views .views-row .views-field-title a:hover {
  text-decoration: none;
}

.block-views .views-row .views-field-field-image {
  margin-bottom: 10px;
}

/*====================================================================
 *  Form Depth Styles
 ====================================================================*/

.webform-client-form {
  padding: 20px;
  border: thin solid #CCCCCC;
  border-radius: 3px;
  margin: 10px;
  background: #EEEEEE
}

.webform-client-form > div {
  padding: 20px;
  border: thin solid #CCCCCC;
  border-radius: 3px;
  background-color: #FFFFFF;
  background-image: url(../images/devtracorg-images/devtracorg-contact.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 40% auto;
}



/*====================================================================
 *  Contact Form Styles
 ====================================================================*/

.webform-client-form .form-item {
  width: 50%;
  min-width: 320px;
}

.webform-client-form .form-item input {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .webform-client-form > div {
    background-image: none;
  }

  .webform-client-form .form-item {
    width: 100%;
    min-width: 320px;
  }

}


/*====================================================================
 *  ColorBox Styles
 ====================================================================*/

#cboxLoadedContent header h2.node-title {
  font-weight: normal;
}

#cboxLoadedContent header h2.node-title a {
  color: #333333;
}

#cboxLoadedContent header h2.node-title a:hover {
  text-decoration: none;
}

article.node-quick-tour .field-name-field-image.field-type-image ,
article.node-quick-tour .field-name-body.field-type-text-with-summary {
  width: 50%;
  display: inline-block;
  float: left;
  overflow: hidden;
}

article.node-quick-tour .field-name-body.field-type-text-with-summary > .field-items {
  padding: 5px 10px;
  font-style: large;
  line-height: 2.0em;
}




/*====================================================================
 *  Footer Styles
 ====================================================================*/

.section-footer {
  height: 44px;
}

.region-footer-first ,
.region-footer-second {
  display: inline-block !important;
  width: 50% !important;
  margin: 0 !important;
}

.region-footer-first {
  float: left !important;
}

.region-footer-second {
  float: right !important;
}

.region-map-toolbar {
  display: none;
}

.block-pane-social-links-footer {
  text-align: right;
}

.block-pane-social-links-footer img {
  width: 30px;
  height: auto;
}




/*====================================================================
 *  Media Query Styles
 ====================================================================*/

@media screen and (max-width: 1000px) {

  .front.page-home section.section-content .region-inner.region-content-inner {
    width: 100%;
  }

  .front.page-home section.section-content .block-simple-subscription-subscribe ,
  .front.page-home section.section-content .block-pane-front-page-information {
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }

  .block-views {
    width: 50%;
  }

  .front.page-home section.section-content .block-system-main {
    width: 100%;
    display: none;
  }

  .front.page-home section.section-content .block-pane-front-page-information .block-inner {
    padding: 5px;
  }

  #banner-links {
    width: 226px;
    margin: 0 auto;
  }

} 


@media screen and (min-width: 1700px) {

  .front.page-home section.section-content .block-pane-front-page-information {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 2000px) {

  .front.page-home section.section-content .block-pane-front-page-information {
    font-size: 1.8em;
  }

}

@media screen and (min-width: 2200px) {

  .front.page-home section.section-content .block-pane-front-page-information {
    font-size: 2.0em;
  }

}

@media screen and (min-width: 2300px) {

  .front.page-home section.section-content .block-pane-front-page-information {
    font-size: 2.2em;
  }

}